body{
    background-image: linear-gradient(45deg, rgba(194, 194, 194, 0.1) 0%, rgba(194, 194, 194, 0.1) 42%,rgba(230, 230, 230, 0.1) 42%, rgba(230, 230, 230, 0.1) 61%,rgba(55, 55, 55, 0.1) 61%, rgba(55, 55, 55, 0.1) 97%,rgba(221, 221, 221, 0.1) 97%, rgba(221, 221, 221, 0.1) 100%),linear-gradient(45deg, rgba(70, 70, 70, 0.03) 0%, rgba(70, 70, 70, 0.03) 33%,rgba(230, 230, 230, 0.03) 33%, rgba(230, 230, 230, 0.03) 45%,rgba(64, 64, 64, 0.03) 45%, rgba(64, 64, 64, 0.03) 46%,rgba(167, 167, 167, 0.03) 46%, rgba(167, 167, 167, 0.03) 48%,rgba(106, 106, 106, 0.03) 48%, rgba(106, 106, 106, 0.03) 74%,rgba(21, 21, 21, 0.03) 74%, rgba(21, 21, 21, 0.03) 94%,rgba(186, 186, 186, 0.03) 94%, rgba(186, 186, 186, 0.03) 96%,rgba(12, 12, 12, 0.03) 96%, rgba(12, 12, 12, 0.03) 100%),linear-gradient(135deg, rgba(31, 31, 31, 0.08) 0%, rgba(31, 31, 31, 0.08) 22%,rgba(201, 201, 201, 0.08) 22%, rgba(201, 201, 201, 0.08) 33%,rgba(93, 93, 93, 0.08) 33%, rgba(93, 93, 93, 0.08) 53%,rgba(240, 240, 240, 0.08) 53%, rgba(240, 240, 240, 0.08) 71%,rgba(136, 136, 136, 0.08) 71%, rgba(136, 136, 136, 0.08) 79%,rgba(5, 5, 5, 0.08) 79%, rgba(5, 5, 5, 0.08) 100%),linear-gradient(0deg, rgba(237, 237, 237, 0.04) 0%, rgba(237, 237, 237, 0.04) 9%,rgba(210, 210, 210, 0.04) 9%, rgba(210, 210, 210, 0.04) 49%,rgba(125, 125, 125, 0.04) 49%, rgba(125, 125, 125, 0.04) 76%,rgba(165, 165, 165, 0.04) 76%, rgba(165, 165, 165, 0.04) 78%,rgba(149, 149, 149, 0.04) 78%, rgba(149, 149, 149, 0.04) 81%,rgba(241, 241, 241, 0.04) 81%, rgba(241, 241, 241, 0.04) 85%,rgba(45, 45, 45, 0.04) 85%, rgba(45, 45, 45, 0.04) 100%),linear-gradient(90deg, rgb(114, 210, 86),rgb(12, 107, 39));
}


main{
    max-width: 70%;
    margin: auto;
}

@media screen and (min-width: 1000px){
    main{
        max-width: 40%;
    }

}

h1{
    text-align: center;
    color: white;
    background-color: rgba(2, 2, 2, 0.548);
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    text-decoration: underline green;
}
.questionsAnswers{
    background-color: rgba(255, 255, 255, 0.637);
    border-radius: 10px 10px 10px 10px;
}
.question{
    background-color: rgb(0, 68, 15);
    color: whitesmoke;
    border-radius: 10px 10px 0 0;
    min-height: 50px;
    padding-top: 5px;
    text-align: center;
    font-size: 25px;
}
.answers{
    min-height: 50px;
    padding-left: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    
}

.buttons{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
}

button{
    background-color: rgb(12, 107, 39);
    color: whitesmoke;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px;
    outline: none;
    transition: 0.6s;
    opacity: 1;
}

button:hover{
    background-color: rgb(0, 54, 15);
}

button:active{
    transform: rotate(0.5turn);
}
